// Variables
$font-color: #414141;
$main-color: #efefef;
$second-color: #ffffff;
$text-font: Cambay, Arial, sans-serif;
$font-size-1: 20px;
$main-shadow: 0 8px 32px 0 rgba(0, 0 , 0, 0.37);
$all-width: 100%;
$main-width: 85%;